[alias]
    hist = log --color --graph --all --date=short --pretty=format:'%h %ad | %s%d [%an]'
[user]
    name = Wentao Liu
    email = wentao.liu.zero@outlook.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    filemode = false
[url "git@github.com:"]
    insteadOf = https://github.com/
[credential]
    helper = store
[init]
    defaultBranch = main
